.title {
  text-align: center;
}

.form {
  margin: 24px auto;
  display: flex;
  flex-direction: column;
  max-width: 500px;

  button {
    margin-top: 18px;
  }
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;

  input {
    padding: 6px;
  }
}

.errorContainer {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
}

.error {
  display: flex;
  background-color: #B00020;
  border-radius: 4px;
  margin-bottom: 8px;
  padding: 8px 16px;
  color: #FFF;
}
